/*
Adding some fonts
*/
@font-face{
	font-family: 'Vazir';
	src: url('../fonts/Vazir.woff') format('woff'),
		url('../fonts/Vazir.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Vazir-Light';
	src: url('../fonts/Vazir-Light.woff') format('woff'),
		url('../fonts/Vazir-Light.woff2') format('woff2');
	font-weight: lighter;
	font-style: normal;
}
@font-face{
	font-family: 'Vazir-Medium';
	src: url('../fonts/Vazir-Medium.woff') format('woff'),
		url('../fonts/Vazir-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Vazir-Thin';
	src: url('../fonts/Vazir-Thin.woff') format('woff'),
	    url('../fonts/Vazir-Thin.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'Vazir-Bold';
	src: url('../fonts/Vazir-Bold.woff') format('woff'),
        url('../fonts/Vazir-Bold.woff2') format('woff2');
	font-weight: bolder;
	font-style: normal;
}
@font-face {
	font-family: 'Plain-Regular';
	src: url('../fonts/Plain-Regular.woff2') format('woff2'),
		url('../fonts/Plain-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Plain-Light';
	src: url('../fonts/Plain-Light.woff2') format('woff2'),
		url('../fonts/Plain-Light.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Plain-Bold';
	src: url('../fonts/Plain-Bold.woff2') format('woff2'),
		url('../fonts/Plain-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
/*
	End adding fonts
*/
body
{
	background-image: url("../images/BG1.png");
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-size: 13px;
	text-align: center;
}
label
{
   font-size: 16px;
   padding: 4px 4px 4px 4px;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Heading1
{
	font-family: 'Vazir-Bold', 'sans-serif', 'Plain-Bold';
	text-align: center;
	margin-top: 2%;
}
#Label1
{
	font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
	font-size: 15px;
	padding: 4px 4px 4px 4px;
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0 auto;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #1E90FF;
}
#Editbox2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0 auto;
   text-align: left;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   outline: 0;
}
#Button1
{
	font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
	box-sizing: border-box;
	line-height: 21px;
	border: 1px solid #FFA500;
	border-radius: 4px;
	background-color: #FFA500;
	color: #FFFFFF;
	font-size: 15px;
	padding: 1px 6px 1px 6px;
	text-align: center;
	margin-top: 2%;
	text-decoration: none;
}
#Button2
{
	font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
	border: 1px solid #2E6DA4;
	border-radius: 4px;
	background-color: #3370B7;
	color: #FFFFFF;
	font-size: 16px;
	padding: 1px 6px 1px 6px;
	text-align: center;
}
#Button3
{
	font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
	box-sizing: border-box;
	line-height: 21px;
	text-decoration: none;
	border: 1px solid #32CD32;
	border-radius: 4px;
	background-color: #32CD32;
	color: #FFFFFF;
	font-size: 10px;
	padding: 1px 6px 1px 6px;
	text-align: center;
}
.form111
{
	width:216px;
	height:236px;
	display: inline-block;
	z-index:7;
	text-align: right;
}
.boxuser
{
	width:203px;
	height:16px;
	display: inline-block;
}
.lab2
{
	font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
	width:54px;
	height:18px;
	line-height:18px;
	z-index:1;
	display: inline-block;
}
.boxpass
{
	width:203px;
	height:16px;
	z-index:2;
	display: inline-block;
}
.lab1
{
	width:64px;
	height:18px;
	line-height:18px;
	z-index:3;
	display: inline-block;
}
.sunmitbut
{
	width:213px;
	height:25px;
	z-index:4;
	display: inline-block;
	margin-top: 2%;
}
.abut
{
	width:143px;
	height:25px;
	z-index:5;
	display: inline-block;
}
.abut2
{
	width:143px;
	height:25px;
	z-index:8;
	display: inline-block;
	margin-top: 2%;
}
.labem
{
	width:64px;
	height:18px;
	line-height:18px;
	z-index:3;
	display: inline-block;
}
.sunmitbutem
{
	font-family: 'Vazir-Thin', 'sans-serif', 'Plain-Light';
	width:213px;
	height:25px;
	z-index:4;
	margin-top: 2%;
	display: inline-block;
}
.sunmitbutsing
{
	width: 213px;
	height: 25px;
	z-index: 4;
	margin-top: 10%;
	display: inline-block;
}
.boxpass2
{
	width:203px;
	height:16px;
	z-index:2;
	display: inline-block;
}
.lab3
{
	font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
	width:64px;
	height:21px;
	line-height:18px;
	z-index:3;
	display: inline-block;
}
.abut3
{
	width:143px;
	height:25px;
	z-index:5;
	display: inline-block;
}
.boxpass3
{
	width:203px;
	height:16px;
	z-index:2;
	display: inline-block;
}
.lab4
{
	font-family: 'Vazir-Medium', 'sans-serif', 'Plain-Regular';
	width:64px;
	height:22px;
	line-height:18px;
	z-index:3;
	display: inline-block;
}